<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Hi!">
    <meta property="og:description" content="A small portfolio website.">
    <meta property="og:url" content="https://buyse.dev">
    <meta property="og:image" content="https://buyse.dev/images/pixel.png">
    <meta name="description" content="{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}">
    <title>{% block title %}{{config.extra.hi}}{% endblock title %}</title>
    {% block extra_head %}
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
    {% endblock extra_head %}
    {% block feed_link %}
        {% if config.generate_feeds %}
            {% if config.feed_filenames %}
                {% for feed in config.feed_filenames %}
                    {% if feed == "atom.xml" %}
                        <link rel="alternate" type="application/atom+xml" title="{{ config.title | safe }} - Atom Feed" href="{{ get_url(path=feed, trailing_slash=false) | safe }}">
                    {% elif feed == "rss.xml" %}
                        <link rel="alternate" type="application/rss+xml" title="{{ config.title | safe }} - RSS Feed" href="{{ get_url(path=feed, trailing_slash=false) | safe }}">
                    {% else %}
                        <link rel="alternate" href="{{ get_url(path=feed, trailing_slash=false) | safe }}">
                    {% endif %}
                {% endfor %}
            {% else %}
                <link rel="alternate" type="application/atom+xml" title="{{ config.title | safe }}" href="{{ get_url(path='atom.xml', trailing_slash=false) | safe }}">
            {% endif %}
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block header %}

<header class="space">
    {% if current_path == "/" %}
    <h1>{{ config.extra.hi }}</h1>
    {% else %}
    <h1>{{ page.title | default(value=section.title) }}</h1>
    {% endif %}
    {% if config.extra.links %}
    <nav class="header-links">
        {% for link in config.extra.links %}
        <a href="{{ link.href }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
    {% endif %}
</header>
{% endblock header %}
{% block content %}
{% set blog = get_section(path="projects/_index.md") %}
{% if section.content or blog.pages %}
<main>
    {% if section.content %}
    <div {% if blog.pages %}class="space"{% endif %}>
        {{ section.content | safe }}
    </div>
    {% endif %}
</main>
{% endif %}
{% endblock content %}
</body>
</html>
