{% extends "index.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block header %}
<header class="space">
    <a href="{{ config.base_url }}">&LeftArrow; home</a>
</header>
{% endblock header %}

{% block content %}
<main>
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}

    <nav class="header-links">
    {% for project in section.pages %}
    <a href="{{ project.permalink }}">{{ project.title }}</a>
    {% endfor %}    
    </nav>

</main>
{% endblock content %}
