{% extends "index.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block header %}
<header class="space">
    <a href="{{ config.base_url }}">&LeftArrow; home</a>
</header>
{% endblock header %}

{% block content %}
<main>
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}

    <div class="project-grid space">
      {% for page in section.pages %}
      <a class="project-card" href="{{ page.permalink }}">
        {% if page.extra.thumbnail %}
        <div class="project-thumb">
        <img src="{{ page.permalink }}{{ page.extra.thumbnail }}" alt="{{ page.title }}">
        </div>
        {% endif %}
        <span>{{ page.title }}</span>
      </a>
      {% endfor %}
    </div>

    {% if section.extra.after_grid %}
    <p>{{ section.extra.after_grid }}</p>
    {% endif %}

    </main>
{% endblock content %}
